.button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  color: var(--button-color);
}

.button--primary {
  background-color: var(--primary-color);
}

.button--secondary {
  background-color: var(--secondary-color);
}
